        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        /* Imported fonts */
        
        @font-face {
            font-family: 'Gotham Bold';
            src: url(../fonts/gotham\ bold.ttf);
        }
        
        @font-face {
            font-family: 'Lulo One';
            src: url(../fonts/Lulo\ Clean.ttf);
        }
        
        @font-face {
            font-family: 'Lulo light';
            src: url(../fonts/lulo\ light.ttf);
        }
        /* Navbar Styles */
        
        .header {
            background: #333;
            min-height: 200%;
        }
        
        .navbar-header a {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            font-family: 'Gotham Bold';
        }
        
        .hide {
            display: none;
        }
        
        .banner {
            height: calc(100vh - 75px);
            background: url(../images/umami.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            padding: -60px 40px 1000px 0;
        }
        
        .banner-heading {
            padding-top: 120px;
        }
        
        .banner-heading>h1 {
            text-shadow: 3px 1px #f48221;
            color: #fff;
            font-size: 90px;
            font-weight: 400;
            text-align: center;
            font-style: normal;
            line-height: 80px;
            font-family: 'Lulo One';
        }
        
        .banner-2 {
            text-align: center;
            font-family: 'Lulo light';
            font-size: 16px;
            color: #fff;
            letter-spacing: 2px;
        }
        
        .banner-col-2 {
            background: #f48221;
            box-shadow: -2px 2px #fff;
        }
        
        .banner-col-2>h1 {
            letter-spacing: 3px;
            /* font-weight: bold; */
            font-size: 25px;
            line-height: 60px;
        }
        
        .head {
            background: #fff;
            width: 25%;
            text-align: center;
            margin: 0 auto;
            color: #333;
            font-family: 'Lulo One';
        }
        
        .head>h5 {
            font-size: 16px;
            font-family: 'Lulo One';
            font-weight: bold;
        }
        /* @media queries */
        
        @media screen and (max-width:768px) {
            .hide {
                display: block;
                margin-left: 100px;
            }
            .show {
                display: none;
            }
            .banner-heading>h1 {
                text-shadow: 3px 1px #f48221;
                color: #fff;
                font-size: 30px;
                font-weight: 400;
                text-align: center;
                font-style: normal;
                line-height: 30px;
                font-family: 'Lulo One';
            }
            .banner-col-2 {
                background: #f48221;
                box-shadow: none;
                font-weight: bold;
            }
            .head {
                background: #fff;
                width: 100%;
                text-align: center;
                margin: 0 auto;
                color: #333;
                font-family: 'Lulo One';
                cursor: pointer;
            }
            .head:hover {
                background: #333;
                width: 100%;
                text-align: center;
                margin: 0 auto;
                color: #fff;
                font-family: 'Lulo One';
            }
        }